body {
  margin: 0;
}

nav {
  background-color: #C6FFFF;
  height: 50px;
  display: flex;
  font-family: 'Courier New', Courier, monospace;
  justify-content: flex-end;
  align-content: center;
}

header nav a {
  text-decoration: none;
  color: black;
  text-align: center;
}

a {
  text-align: center;
  margin: 5px;
}

a:hover {
  text-align: center;
  margin: 5px;
  background-color: aqua;
}

header {
  background-color: #C6FFFF;
  display: flex;
  justify-content: flex-end;
}

.navStyle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.homePage {
  display: flex;
  align-content: center;
  margin: 0 auto;
}

.aboutPage {
  display: flex;
  flex-wrap: wrap;
}

h1 {
  margin: 0 auto;
  text-align: center;
}

.regionSelect {
  height: 600px;
  width: 600px;
  background-image: url("https://media.istockphoto.com/id/459951679/photo/male-anatomy-view.jpg?s=612x612&w=0&k=20&c=-T2Zk12yDJgrF3T2XPz80ThaC_vZKh-s7qCYQwXNAXA=");
}

.regionPage {
  display: flex;
  justify-content: center;
}

.headAndNeck {
  background-color: black;
  opacity: 0;
  width: 600px;
  height: 125px;
}

.shoulderGirdle {
  background-color: black;
  opacity: 0;
  width: 600px;
  height: 75px;
}

.armsAndAbdominals {
  background-color: black;
  opacity: 0;
  width: 600px;
  height: 100px;
}

.hipAndThigh {
  background-color: black;
  opacity: 0;
  width: 600px;
  height: 150px;
}

.shankAndFoot {
  background-color: black;
  opacity: 0;
  width: 600px;
  height: 150px;
}

.headAndNeck:hover {
  background-color: black;
  opacity: 0.25;
  width: 600px;
  height: 125px;
}

.shoulderGirdle:hover {
  background-color: black;
  opacity: 0.25;
  width: 600px;
  height: 75px;
}
.armsAndAbdominals:hover {
  background-color: black;
  opacity: 0.25;
  width: 600px;
  height: 100px;
}
.hipAndThigh:hover {
  background-color: black;
  opacity: 0.25;
  width: 600px;
  height: 150px;
}
.shankAndFoot:hover {
  background-color: black;
  opacity: 0.25;
  width: 600px;
  height: 150px;
}
